{% extends 'base.html' %}
{% block content %}
{% include 'page_head.html' with {'head_title': 'Homepage'} %}
<div class="container">
    <div class="row">
        <div class="col">
            <ol>
                {% for l in logger %}
                <li>{{ l.device }} {{ l.sampling }}</li>
                {% endfor %}    
            </ol>            
        </div>
        <div class="col">
            <ol>
                {% for t in user.tenant %}
                <li>A {{ t.nama }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}